

h1 {
	font-family: roboto slab, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 2.5;
    text-align: right; }

body {
	font-family: roboto slab, sans-serif;
	color: white;
	font-size: 40px;
	background-color: black
	
}


.container { position:relative;

flex-direction: column; }

.container video {
    position:absolute;
    z-index:0;
    width: 100%;

}


.overlay1 {
    position: absolute;
    top:50;
    right:0;
    z-index:1;
}
.time {
	opacity: 60%}

.comment1 h1 {
  overflow: hidden;
  margin: 0 auto; 
  white-space: nowrap;
  letter-spacing: 0.2em;
  animation: typing 3s linear;
  align-self: right;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0%; visibility: hidden; }
  1% {border-right: 0px solid white;}
  99% {border-right: 0px solid white;}
  100% { width: 100%; visibility: visible;}
}

.comment2 h1 {
  overflow: hidden;
  margin: 0 auto; 
  white-space: nowrap;
  letter-spacing: 0.25em;
  animation: typing 3s linear 4s 1 both;
  align-self: right;
}

.comment3 h1 {
  overflow: hidden;
  margin: 0 auto; 
  white-space: nowrap;
  letter-spacing: 0.25em;
  animation: typing 4s linear 25s 1 both;
  align-self: right;
}

.comment4 h1 {
  overflow: hidden;
  margin: 0 auto; 
  white-space: nowrap;
  letter-spacing: 0.25em;
  animation: typing 2.5s linear 37s 1 both;
  align-self: right;
}






